/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    background-color: #1e1e1e;*/
/*    color: #ddd;*/
/*}*/

/*table {*/
/*    width: 100%;*/
/*    max-width: 1000px;*/
/*    margin: 50px auto;*/
/*    border-collapse: collapse;*/
/*    background-color: #2c2c2c;*/
/*    border-radius: 10px;*/
/*    overflow: hidden;*/
/*    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);*/
/*}*/

/*th, td {*/
/*    border: 1px solid #444;*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*    color: #ddd;*/
/*}*/

/*th {*/
/*    background-color: #333;*/
/*    font-size: 16px;*/
/*    text-transform: uppercase;*/
/*    color: #bbb;*/
/*}*/

/*.plan-header {*/
/*    text-align: left;*/
/*    padding: 20px;*/
/*}*/

/*.plan-header.standard {*/
/*    background-color: #388e3c;*/
/*}*/

/*.plan-header.ultimate {*/
/*    background-color: #d32f2f;*/
/*}*/

/*.plan-header.premium {*/
/*    background-color: #00796b;*/
/*}*/

/*.plan-name {*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*    color: white;*/
/*}*/

/*.price {*/
/*    font-size: 24px;*/
/*    margin: 10px 0;*/
/*    color: white;*/
/*}*/

/*button.buy-btn {*/
/*    padding: 10px 20px;*/
/*    background-color: #4caf50;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    color: white;*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*}*/

/*button.buy-btn.ultimate {*/
/*    background-color: #d32f2f;*/
/*}*/

/*button.buy-btn.premium {*/
/*    background-color: #00796b;*/
/*}*/

/*button.theme-btn {*/
/*    position: fixed;*/
/*    top: 20px;*/
/*    right: 20px;*/
/*    padding: 10px 20px;*/
/*    background-color: #00796b;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*    font-size: 16px;*/
/*}*/


/*body.light-theme {*/
/*    background-color: #ffffff;*/
/*    color: #333;*/
/*}*/

/*body.light-theme table {*/
/*    background-color: #f9f9f9;*/
/*}*/

/*body.light-theme th, body.light-theme td {*/
/*    border: 1px solid #ddd;*/
/*    color: #333;*/
/*}*/

/*body.light-theme th {*/
/*    background-color: #eeeeee;*/
/*    color: #555;*/
/*}*/

/*body.light-theme .plan-header.standard {*/
/*    background-color: #8bc34a;*/
/*}*/

/*body.light-theme .plan-header.ultimate {*/
/*    background-color: #f44336;*/
/*}*/

/*body.light-theme .plan-header.premium {*/
/*    background-color: #009688;*/
/*}*/

/*body.light-theme button.theme-btn {*/
/*    background-color: #f44336;*/
/*}*/










/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    background-color: #f0f0f0;*/
/*}*/

/*table {*/
/*    width: 100%;*/
/*    max-width: 1000px;*/
/*    margin: 50px auto;*/
/*    border-collapse: collapse;*/
/*    background-color: #fff;*/
/*    border-radius: 10px;*/
/*    overflow: hidden;*/
/*    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);*/
/*}*/

/*th, td {*/
/*    border: 1px solid #ddd;*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*}*/

/*th {*/
/*    background-color: #fff;*/
/*    font-size: 22px;*/
/*    text-transform: uppercase;*/
/*}*/

/*th.standard {*/
/*    background-color: #8bc34a;*/
/*    color: white;*/
/*}*/

/*th.ultimate {*/
/*    background-color: #f44336;*/
/*    color: white;*/
/*}*/

/*th.premium {*/
/*    background-color: #009688;*/
/*    color: white;*/
/*}*/

/*td.feature-title {*/
/*    background-color: #f9f9f9;*/
/*    font-weight: bold;*/
/*    text-align: left;*/
/*}*/

/*button.buy-btn {*/
/*    padding: 10px 20px;*/
/*    background-color: #4caf50;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    color: white;*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*}*/

/*button.buy-btn.ultimate {*/
/*    background-color: #f44336;*/
/*}*/

/*button.buy-btn.premium {*/
/*    background-color: #009688;*/
/*}*/