* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header {
    display: inline-flex;
    height: 72px;
    padding: 16px 52px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    width: 100%;
    background: #10BBD5;
    position: fixed;
    margin-top: -100px;

    .header-content {
        display: flex;
        width: 1296px;
        justify-content: space-between;
        align-items: center;

        .header-logo {
            display: flex;
            gap: 4px;
            width: 130px;
            height: 28px;

            .logo-text {
                font-size: 24px;
                color: white;
            }
        }

        .balance-and-basket {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            .balance {
                color: #F8FDFE;
                font-family: Cabin;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }

            .basket {
                width: 40px;
                height: 40px;
                position: relative;

                .basket-zero {
                    color: #000;
                    font-family: Cabin;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 10px;
                    position: absolute;
                    margin-top: -16px;
                    margin-left: 16px;
                }

                .basket-vector-left {
                    margin-left: 6px;
                }
            }
        }

    }
}

.menu-content {
    display: inline-flex;
    width: 100%;
    padding: 4px 52px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: white;
    position: fixed;
    margin-top: -28px;

    .menu-style-text {
        color: #000;
        font-family: Cabin;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .content {
        display: flex;
        justify-content: space-between;
        width: 1296px;


        .content-list {
            display: flex;
            gap: 40px;
            list-style: none;
        }
    }
}

.basic-content {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    margin-top: 100px;
    background-color: #EEEEEF;

    .container-second {
        padding-top: 50px;

        .photo-card {
            margin-left: 26px;
        }

        .card {
            padding: 30px;
            background: white;
            margin-top: 24px;
        }

        .card-text-h {
            color: black;
            width: 242px;
            height: 31px;
            flex-direction: column;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-family: Cabin, serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
        }

        .content-card {
            margin-top: 20px;
        }

        .block-hit {
            width: auto;
            height: auto;
            border-radius: 4px;
            background: #4200FF;
            padding: 4px 8px;
            position: absolute;
            color: white;
        }

        .line-card {
            height: 1px;
            align-self: stretch;
            background: #A8A8A8;
        }

        .text-one {
            color: #1F1F1F;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px;
            padding-left: 60px;
            font-family: Cabin, serif;
        }

        .line {
            width: 1200px;
            height: 1px;
            flex-shrink: 0;
            background: black;
            margin-top: 23px;
            margin-left: 60px;
        }

        .chat-support {

            position: fixed;
            margin-left: 1360px;
            margin-top: 500px;
        }

        .product-cards {
            display: grid;
            grid-template-columns: 300px 300px 300px 300px;
            grid-template-rows: 512px 512px 512px 512px;
            grid-auto-columns: minmax(auto, auto);
            justify-items: center;
            gap: 20px;
        }

        .card-text-under {
            overflow: hidden;
            color: #8E8E8E;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-family: Cabin, serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }

        .card-price {
            color: #E90000;
            font-family: Cabin, serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
        }

        .button-card-green {
            height: 40px;
            width: 220px;
            color: white;
            align-self: stretch;
            border-radius: 4px;
            background: #4D762D;
            margin-top: 16px;
            border: none;
        }

        .button-card-purple {
            height: 40px;
            width: 220px;
            color: white;
            align-self: stretch;
            border-radius: 4px;
            background: #4C394E;
            margin-top: 16px;
            border: none;
        }

        .block-new {
            width: auto;
            height: auto;
            border-radius: 4px;
            background: #AF39E7;
            padding: 4px 8px;
            position: absolute;
            color: white;
        }

        .block-sale {
            width: auto;
            height: auto;
            border-radius: 4px;
            background: #EA33C0;
            padding: 4px 8px;
            position: absolute;
            color: white;
            margin-left: 40px;
        }

        .line-through {
            text-decoration: line-through;
            color: gray;
            padding-left: 28px;
        }

        .sixth-block-sale {
            margin-left: 50px;
        }

        .tenth-block-sale {
            width: auto;
            height: auto;
            border-radius: 4px;
            background: #EA33C0;
            padding: 4px 8px;
            position: absolute;
            color: white;
        }

        .eleventh-block-sale {
            margin-left: 50px;
        }
    }
}

.footer {
    display: flex;
    width: auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background: #4C394E;

    .copyright {
        color: white;
        font-family: Cabin, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .footer-text {
        text-align: end;
        color: white;
        font-family: Cabin, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-right: 20px;
    }
}
