@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 4px solid green !important;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: #F5F3EA;
    width: 100%;
}

.header {
    display: flex;
    width: 100%;
    padding: 40px 70px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        display: flex;
        width: 100%;
        padding: 40px 30px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
        display: flex;
        width: 100%;
        padding: 20px;
        flex-direction: column;
        gap: 30px;
    }


    .header-container {
        display: flex;
        padding-bottom: 30px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            display: flex;
            width: 100%;
            padding-bottom: 30px;
            justify-content: space-between;
            align-items: center;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        .top-logo {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;


            .header-logo-text {
                color: #000;
                text-align: center;
                font-family: Gilroy, sans-serif;
                font-size: 35px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                letter-spacing: -0.7px;
            }

            .header-logo-mod-text {
                color: #000;
                font-family: Gilroy-Medium, sans-serif;
                font-size: 35px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.7px;
                text-transform: uppercase;
            }
        }

        .menu {
            color: #252525;
            text-align: center;
            font-family: Gilroy-SemiBold, sans-serif;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .Dianne-Russel {
        width: 1000px;
        height: auto;
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            width: 900px;
            height: auto;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: auto;
            height: auto;
        }

        .text-dianne-russel {
            color: #252525;
            text-align: center;
            font-family: Gilroy-SemiBold, sans-serif;
            font-size: 100px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            align-self: stretch;
            @media screen and (min-width: 768px) and (max-width: 1200px) {
                font-size: 80px;
            }
            @media screen and (min-width: 320px) and (max-width: 767px) {
                font-size: 50px;
            }
        }

        .mod-digital-desing {
            color: #252525;
            font-family: Gilroy, sans-serif;
            font-size: 90px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: capitalize;
            align-self: stretch;
            @media screen and (min-width: 768px) and (max-width: 1200px) {
                font-size: 70px;
            }
            @media screen and (min-width: 320px) and (max-width: 767px) {
                font-size: 50px;
            }
        }
    }

    .scroll-down {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }
}

.main {
    width: 100%;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        width: 100%;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 100%;
    }

    .banner-photo {
        width: 100%;
        height: 100%;
    }

    .about-me {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 404px;
        padding: 70px 0;
        align-items: center;
        flex-shrink: 0;
        border-bottom: 1px solid #252525;
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .about-me-block {
            display: flex;
            padding: 0 70px;
            flex-direction: column;
            align-items: flex-start;
            flex: 1 0 0;
            @media screen and (min-width: 768px) and (max-width: 1200px) {
                display: flex;
                width: 100%;
                padding: 30px;
                flex-direction: column;
                align-items: flex-start;
            }
            @media screen and (min-width: 320px) and (max-width: 767px) {
                display: flex;
                width: 100%;
                padding: 30px 20px;
                flex-direction: column;
                align-items: center;
            }

            .about-me-text {
                width: 100%;
                color: #252525;
                font-family: Gilroy, sans-serif;
                font-size: 62px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                align-self: stretch;
                @media screen and (min-width: 768px) and (max-width: 1200px) {
                    width: 100%;
                    font-size: 52px;
                }
                @media screen and (min-width: 320px) and (max-width: 767px) {
                    font-size: 25px;
                }
            }

            .mod-digital-experience {
                color: #252525;
                font-family: Gilroy, sans-serif;
                font-size: 60px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                @media screen and (min-width: 768px) and (max-width: 1200px) {
                    font-size: 52px;
                }
                @media screen and (min-width: 320px) and (max-width: 767px) {
                    font-size: 25px;
                }
            }
        }

        .about-me-black-block {
            display: flex;
            width: 485px;
            padding: 60px 70px 60px 0;
            flex-direction: column;
            align-items: flex-end;
            gap: 30px;
            flex-shrink: 0;
            background: #252525;
            @media screen and (min-width: 768px) and (max-width: 1200px) {
                display: flex;
                width: 100%;
                padding: 40px 30px 40px 0;
                flex-direction: column;
                align-items: flex-end;
                gap: 30px;
                align-self: stretch;
            }
            @media screen and (min-width: 320px) and (max-width: 767px) {
                display: flex;
                width: 100%;
                padding: 40px 30px 40px 0;
                flex-direction: column;
                align-items: flex-end;
                gap: 30px;
                align-self: stretch;
            }

            .black-block-text {
                color: #FFF;
                text-align: right;
                font-family: Gilroy-Medium, sans-serif;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                text-transform: uppercase;
                @media screen and (min-width: 768px) and (max-width: 1200px) {
                    font-size: 28px;
                }
                @media screen and (min-width: 320px) and (max-width: 767px) {
                    font-size: 28px;
                    text-align: right;
                }
            }

            .black-block-link {
                display: flex;
                gap: 20px;
            }
        }
    }

    .logos {
        display: flex;
        width: 100%;
        padding: 70px;
        justify-content: center;
        align-items: center;
        gap: 40px;
        border-bottom: 1px solid #252525;
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            display: flex;
            width: 100%;
            height: auto;
            padding: 40px 30px;
            justify-content: center;
            align-items: flex-start;
            align-content: flex-start;
            gap: 20px;
            flex-wrap: wrap;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: flex;
            width: auto;
            padding: 30px 20px;
            justify-content: center;
            align-items: flex-start;
            align-content: flex-start;
            gap: 20px;
            flex-wrap: wrap;
        }

        button {
            @include white-button-style;
        }
    }

    .what-i-do {
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: center;
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
        }

        .left-block-background {
            background: url("../images/Frame 3.png") lightgray 50% / cover no-repeat;
            width: 50%;
            height: 1137px;
            flex-shrink: 0;
            align-self: stretch;
            @media screen and (min-width: 768px) and (max-width: 1200px) {
                width: 100%;
            }
            @media screen and (min-width: 320px) and (max-width: 767px) {
                width: 100%;
            }
        }

        .right-block {
            display: flex;
            padding: 70px 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 100px;
            @media screen and (min-width: 768px) and (max-width: 1200px) {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
            }
            @media screen and (min-width: 320px) and (max-width: 767px) {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
            }

            .right-block-text {
                display: flex;
                width: 100%;
                padding: 0 70px 0 111px;
                align-items: flex-start;
                @media screen and (min-width: 768px) and (max-width: 1200px) {
                    display: flex;
                    width: 100%;
                    padding: 40px 0;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 40px;
                }
                @media screen and (min-width: 320px) and (max-width: 767px) {
                    display: flex;
                    width: 100%;
                    padding: 20px 0;
                    flex-direction: column;
                    align-items: center;
                    gap: 40px;
                    align-self: stretch;
                }


                .right-block-mod {
                    color: #252525;
                    font-family: Gilroy, sans-serif;
                    font-size: 135px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    text-transform: uppercase;
                    @media screen and (min-width: 768px) and (max-width: 1200px) {
                        font-size: 115px;
                    }
                    @media screen and (min-width: 320px) and (max-width: 767px) {
                        font-size: 75px;
                    }
                }
            }

            .list-skills {
                display: flex;
                width: 940px;
                padding: 0 70px 0 111px;
                flex-direction: column;
                align-items: flex-start;
                gap: 40px;
                @media screen and (min-width: 768px) and (max-width: 1200px) {
                    display: flex;
                    width: 100%;
                    padding: 0 30px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 40px;
                }
                @media screen and (min-width: 320px) and (max-width: 767px) {
                    display: flex;
                    width: 100%;
                    padding: 0 20px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 30px;
                    align-self: stretch;
                }

                .digital-desing-item {
                    @include what-i-do-list-style;

                    .list-large-text {
                        @include list-large-text-style
                    }

                    .list-large-text::before {
                        content: '01  ';
                        color: #000;
                        font-family: Gilroy-SemiBold, sans-serif;
                        font-size: 44px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 48px;
                        text-transform: uppercase;
                    }

                    .list-small-text {
                        @include list-small-text-style
                    }
                }

                .list-line {
                    width: 759px;
                    height: 1px;
                    background: #252525;
                    @media screen and (min-width: 768px) and (max-width: 1200px) {
                        width: 100%;
                    }
                    @media screen and (min-width: 320px) and (max-width: 767px) {
                        width: 100%;
                    }
                }

                .art-direction-item {
                    @include what-i-do-list-style;

                    .list-large-text {
                        @include list-large-text-style;
                    }

                    .list-large-text::before {
                        content: '02  ';
                        color: #000;
                        font-family: Gilroy-SemiBold, sans-serif;
                        font-size: 44px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 48px;
                        text-transform: uppercase;
                    }

                    .list-small-text {
                        @include list-small-text-style;
                    }
                }

                .interaction-desing-item {
                    @include what-i-do-list-style;

                    .list-large-text {
                        @include list-large-text-style;
                    }

                    .list-large-text::before {
                        content: '03  ';
                        color: #000;
                        font-family: Gilroy-SemiBold, sans-serif;
                        font-size: 44px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 48px;
                        text-transform: uppercase;
                    }

                    .list-small-text {
                        @include list-small-text-style;
                    }
                }

                .motion-desing-item {
                    @include what-i-do-list-style;

                    .list-large-text {
                        @include list-large-text-style
                    }

                    .list-large-text::before {
                        content: '04  ';
                        color: #000;
                        font-family: Gilroy-SemiBold, sans-serif;
                        font-size: 44px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 48px;
                        text-transform: uppercase;
                    }

                    .list-small-text {
                        @include list-small-text-style
                    }
                }
            }
        }
    }

    .selected-work {
        display: flex;
        width: 100%;
        padding: 70px 0 100px 0;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        justify-items: center;
        gap: 50px;
        border-top: 1px solid #252525;
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            display: flex;
            width: 100%;
            padding: 30px 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: flex;
            width: 100%;
            padding: 30px 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }

        .selected-title-text {
            @include title-text;
            @media screen and (min-width: 768px) and (max-width: 1200px) {
                width: 100%;
                flex-shrink: 0;
                font-size: 150px;
            }
            @media screen and (min-width: 320px) and (max-width: 767px) {
                font-size: 70px;
            }
        }

        .block-works {
            display: flex;
            width: 100%;
            padding: 70px 0 100px 0;
            flex-direction: column;
            align-items: flex-end;
            gap: 50px;
            @media screen and (min-width: 768px) and (max-width: 1200px) {
                display: flex;
                width: 100%;
                padding: 0 30px;
                flex-direction: column;
                align-items: center;
                gap: 70px;
                align-self: stretch;
            }
            @media screen and (min-width: 320px) and (max-width: 767px) {
                display: flex;
                width: 100%;
                padding: 0 20px;
                flex-direction: column;
                align-items: center;
                gap: 40px;
                align-self: stretch;
            }

            .first-row-works {
                display: flex;
                width: 100%;
                align-items: flex-start;
                gap: 40px;
                @media screen and (min-width: 768px) and (max-width: 1200px) {
                    display: flex;
                    width: 100%;
                    flex-direction: column-reverse;
                    align-items: center;
                    gap: 30px;
                }
                @media screen and (min-width: 320px) and (max-width: 767px) {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    align-self: stretch;
                }

                .select-work-photo {
                    @media screen and (min-width: 320px) and (max-width: 767px) {
                        width: 100%;
                        height: auto;
                    }
                }

                .trinity {
                    @include block-empty;
                    @media screen and (min-width: 768px) and (max-width: 1200px) {
                        width: 100%;
                    }
                    @media screen and (min-width: 320px) and (max-width: 767px) {
                        width: 100%;
                    }

                    .title-block-trinity {
                        @include title-block;
                        @media screen and (min-width: 768px) and (max-width: 1200px) {
                            width: 100%;
                        }
                        @media screen and (min-width: 320px) and (max-width: 767px) {
                            width: 100%;
                        }

                        .trinity-large-text {
                            color: #000;
                            font-family: Gilroy-Bold, sans-serif;
                            font-size: 40px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 44px;
                            text-transform: uppercase;
                        }

                        .mod-trinity-button {
                            display: flex;
                            align-items: flex-start;
                            gap: 30px;

                            button {
                                @include white-button-style;

                                a {
                                    color: black;
                                }
                            }
                        }
                    }

                    .black-button {
                        display: flex;
                        padding: 10px 30px;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 10px;
                        color: #FFFFFF;
                        border-radius: 50px;
                        background: #252525;
                        border: none;
                    }
                }
            }

            .second-row-works {
                display: flex;
                width: 100%;
                align-items: flex-start;
                gap: 40px;
                @media screen and (min-width: 768px) and (max-width: 1200px) {
                    display: flex;
                    width: 100%;
                    padding: 0 30px;
                    flex-direction: column;
                    align-items: center;
                    gap: 70px;
                    align-self: stretch;
                }
                @media screen and (min-width: 320px) and (max-width: 767px) {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    align-self: stretch;
                }

                .select-work-photo {
                    @media screen and (min-width: 320px) and (max-width: 767px) {
                        width: 100%;
                        height: auto;
                    }
                }

                .morpheus {
                    @include block-empty;
                    @media screen and (min-width: 768px) and (max-width: 1200px) {
                        width: 100%;
                    }
                    @media screen and (min-width: 320px) and (max-width: 767px) {
                        width: 100%;
                    }

                    .title-block-morpheus {
                        @include title-block;
                        @media screen and (min-width: 768px) and (max-width: 1200px) {
                            width: 100%;
                        }
                        @media screen and (min-width: 320px) and (max-width: 767px) {
                            width: 100%;
                        }

                        .morpheus-large-text {
                            color: #000;
                            font-family: Gilroy-Bold, sans-serif;
                            font-size: 40px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 44px;
                            text-transform: uppercase;
                        }

                        .mod-morpheus-button {
                            display: flex;
                            align-items: flex-start;
                            gap: 30px;

                            button {
                                @include white-button-style;

                                a {
                                    color: black;
                                }
                            }
                        }
                    }
                }

                .black-button {
                    display: flex;
                    padding: 10px 30px;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 10px;
                    color: #FFFFFF;
                    border-radius: 50px;
                    background: #252525;
                    border: none;
                }
            }
        }
    }

    .clients {
        display: flex;
        width: 100%;
        padding: 50px 0;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 50px;
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            display: flex;
            width: 100%;
            padding: 30px 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
            border-top: 1px solid #252525;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: flex;
            width: 100%;
            padding: 30px 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }

        .clients-title {
            display: flex;
            width: 100%;
            padding: 0 70px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            @media screen and (min-width: 768px) and (max-width: 1200px) {
                display: flex;
                width: 100%;
                padding: 0 30px;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
            @media screen and (min-width: 320px) and (max-width: 767px) {
                display: flex;
                width: 100%;
                padding: 0 20px;
                align-items: flex-start;

            }

            .clients-title-text {
                @include title-text;
                @media screen and (min-width: 768px) and (max-width: 1200px) {
                    font-size: 150px;
                }
                @media screen and (min-width: 320px) and (max-width: 767px) {
                    font-size: 70px;
                }
            }
        }

        .clients-content {
            display: flex;
            justify-items: center;
            width: 100%;
            height: auto;
            padding: 0 70px;
            flex-direction: column;
            align-items: flex-start;
            @media screen and (min-width: 768px) and (max-width: 1200px) {
                display: flex;
                width: 100%;
                height: auto;
                padding: 0 30px;
                flex-direction: column;
                align-items: flex-start;
            }
            @media screen and (min-width: 320px) and (max-width: 767px) {
                width: 100%;
                padding: 0 30px;
                align-items: flex-start;
            }


            .first-row-clients {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: flex-start;
                border-bottom: 1px solid #252525;
                @media screen and (min-width: 768px) and (max-width: 1200px) {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    align-self: stretch;
                    justify-content: center;
                    border-bottom: none;
                }
                @media screen and (min-width: 320px) and (max-width: 767px) {
                    width: 100%;
                    flex-direction: column;

                }


                .Annette-client-box {
                    border-right: 1px solid #252525;
                    @include client-box;
                    @media screen and (min-width: 768px) and (max-width: 1200px) {
                        width: 100%;
                        border-bottom: 1px solid #252525;
                        border-right: none;
                    }
                    @media screen and (min-width: 320px) and (max-width: 767px) {
                        width: 100%;
                    }

                    .client-title-box {
                        @include client-title-box;
                        @media screen and (min-width: 768px) and (max-width: 1200px) {
                            width: 100%;
                        }
                        @media screen and (min-width: 320px) and (max-width: 767px) {
                            width: 100%;
                        }


                        .client-title-large-text {
                            width: 540px;
                            @include client-title-large-text;
                            @media screen and (min-width: 768px) and (max-width: 1200px) {
                                width: 100%;
                            }
                            @media screen and (min-width: 320px) and (max-width: 767px) {
                                width: auto;
                            }
                        }

                        .client-title-small-text {
                            width: 510px;
                            @include client-title-small-text;
                            @media screen and (min-width: 768px) and (max-width: 1200px) {
                                width: 100%;
                            }
                            @media screen and (min-width: 320px) and (max-width: 767px) {
                                width: auto;
                            }
                        }

                        .review-client-box {
                            @include review-client-box;

                            .review-content-box {
                                h1 {
                                    color: #000;
                                    font-family: Inter, sans-serif;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px;
                                }

                                p {
                                    color: #000;
                                    font-family: Inter, sans-serif;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px;
                                }
                            }
                        }
                    }

                }

                .Ralph-client-box {
                    border-right: 1px solid #252525;
                    @include client-box;
                    @media screen and (min-width: 768px) and (max-width: 1200px) {
                        width: 100%;
                        border-bottom: 1px solid #252525;
                        border-right: none;
                    }
                    @media screen and (min-width: 320px) and (max-width: 767px) {
                        width: 100%;
                    }

                    .client-title-box {
                        @include client-title-box;
                        @media screen and (min-width: 768px) and (max-width: 1200px) {
                            width: 100%;
                        }

                        .client-title-large-text {
                            @include client-title-large-text;
                            @media screen and (min-width: 768px) and (max-width: 1200px) {
                                width: 100%;
                            }

                        }

                        .client-title-small-text {
                            @include client-title-small-text;
                            @media screen and (min-width: 768px) and (max-width: 1200px) {
                                width: 100%;
                            }
                        }

                        .review-client-box {
                            @include review-client-box;

                            .review-content-box {
                                h1 {
                                    color: #000;
                                    font-family: Inter, sans-serif;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px;
                                }

                                p {
                                    color: #000;
                                    font-family: Inter, sans-serif;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px;
                                }
                            }
                        }
                    }
                }

                .Jacob-client-box {
                    @include client-box;
                    @media screen and (min-width: 768px) and (max-width: 1200px) {
                        width: 100%;
                        border-bottom: 1px solid #252525;
                    }
                    @media screen and (min-width: 320px) and (max-width: 767px) {
                        width: 100%;
                    }

                    .client-title-box {
                        @include client-title-box;
                        @media screen and (min-width: 768px) and (max-width: 1200px) {
                            width: 100%;
                        }
                        @media screen and (min-width: 320px) and (max-width: 767px) {
                            width: auto;
                        }

                        .client-title-large-text {
                            @include client-title-large-text;
                            @media screen and (min-width: 768px) and (max-width: 1200px) {
                                width: 100%;
                            }
                            @media screen and (min-width: 320px) and (max-width: 767px) {
                                width: auto;
                            }
                        }

                        .client-title-small-text {
                            @include client-title-small-text;
                            @media screen and (min-width: 768px) and (max-width: 1200px) {
                                width: 100%;
                            }
                            @media screen and (min-width: 320px) and (max-width: 767px) {
                                width: auto;
                            }
                        }

                        .review-client-box {
                            @include review-client-box;

                            .review-content-box {
                                h1 {
                                    color: #000;
                                    font-family: Inter, sans-serif;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px;
                                }

                                p {
                                    color: #000;
                                    font-family: Inter, sans-serif;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px;
                                }
                            }
                        }
                    }

                }
            }

            .second-row-clients {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-content: center;
                align-items: flex-start;
                border-top: 1px solid #252525;
                @media screen and (min-width: 768px) and (max-width: 1200px) {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    align-self: stretch;
                    justify-content: center;
                    border-top: none;
                }
                @media screen and (min-width: 320px) and (max-width: 767px) {
                    width: 100%;
                    flex-direction: column;

                }

                .client-line {
                    width: 1px;
                    height: 567px;
                    background: #000;
                    @media screen and (min-width: 768px) and (max-width: 1200px) {
                        .client-line {
                            display: none;
                        }
                    }
                }

                .Cameron-client-box {
                    border-right: 1px solid #252525;
                    @include client-box;
                    @media screen and (min-width: 768px) and (max-width: 1200px) {
                        width: 100%;
                        border-bottom: 1px solid #252525;
                        border-right: none;
                    }
                    @media screen and (min-width: 320px) and (max-width: 767px) {
                        width: 100%;
                    }

                    .client-title-box {
                        @include client-title-box;
                        @media screen and (min-width: 768px) and (max-width: 1200px) {
                            width: 100%;
                        }
                        @media screen and (min-width: 320px) and (max-width: 767px) {
                            width: auto;
                        }

                        .client-title-large-text {
                            width: 520px;
                            @include client-title-large-text;
                            @media screen and (min-width: 768px) and (max-width: 1200px) {
                                width: 100%;
                            }
                            @media screen and (min-width: 320px) and (max-width: 767px) {
                                width: auto;
                            }
                        }

                        .client-title-small-text {
                            width: 480px;
                            @include client-title-small-text;
                            @media screen and (min-width: 768px) and (max-width: 1200px) {
                                width: 100%;
                            }
                            @media screen and (min-width: 320px) and (max-width: 767px) {
                                width: auto;
                            }
                        }

                        .review-client-box {
                            @include review-client-box;

                            .review-content-box {
                                h1 {
                                    color: #000;
                                    font-family: Inter, sans-serif;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px;
                                }

                                p {
                                    color: #000;
                                    font-family: Inter, sans-serif;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px;
                                }
                            }
                        }
                    }

                }

                .Eleanor-client-box {
                    border-right: 1px solid #252525;
                    @include client-box;
                    @media screen and (min-width: 768px) and (max-width: 1200px) {
                        width: 100%;
                        border-bottom: 1px solid #252525;
                        border-right: none;
                    }
                    @media screen and (min-width: 320px) and (max-width: 767px) {
                        width: 100%;
                    }

                    .client-title-box {
                        @include client-title-box;
                        @media screen and (min-width: 768px) and (max-width: 1200px) {
                            width: 100%;
                        }
                        @media screen and (min-width: 320px) and (max-width: 767px) {
                            width: auto;
                        }

                        .client-title-large-text {
                            @include client-title-large-text;
                            @media screen and (min-width: 768px) and (max-width: 1200px) {
                                width: 100%;
                            }
                            @media screen and (min-width: 320px) and (max-width: 767px) {
                                width: auto;
                            }
                        }

                        .client-title-small-text {
                            @include client-title-small-text;
                            @media screen and (min-width: 768px) and (max-width: 1200px) {
                                width: 100%;
                            }
                            @media screen and (min-width: 320px) and (max-width: 767px) {
                                width: auto;
                            }
                        }

                        .review-client-box {
                            @include review-client-box;

                            .review-content-box {
                                h1 {
                                    color: #000;
                                    font-family: Inter, sans-serif;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px;
                                }

                                p {
                                    color: #000;
                                    font-family: Inter, sans-serif;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px;
                                }
                            }
                        }
                    }
                }

                .Courtney-client-box {
                    @include client-box;
                    @media screen and (min-width: 768px) and (max-width: 1200px) {
                        width: 100%;
                        border-bottom: 1px solid #252525;
                    }
                    @media screen and (min-width: 320px) and (max-width: 767px) {
                        width: 100%;
                    }

                    .client-title-box {
                        @include client-title-box;
                        @media screen and (min-width: 768px) and (max-width: 1200px) {
                            width: 100%;
                        }
                        @media screen and (min-width: 320px) and (max-width: 767px) {
                            width: auto;
                        }

                        .client-title-large-text {
                            @include client-title-large-text;
                            @media screen and (min-width: 768px) and (max-width: 1200px) {
                                width: 100%;
                            }
                            @media screen and (min-width: 320px) and (max-width: 767px) {
                                width: auto;
                            }
                        }

                        .client-title-small-text {
                            width: 480px;
                            @include client-title-small-text;
                            @media screen and (min-width: 768px) and (max-width: 1200px) {
                                width: 100%;
                            }
                            @media screen and (min-width: 320px) and (max-width: 767px) {
                                width: auto;
                            }
                        }

                        .review-client-box {
                            @include review-client-box;

                            .review-content-box {
                                h1 {
                                    color: #000;
                                    font-family: Inter, sans-serif;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px;
                                }

                                p {
                                    color: #000;
                                    font-family: Inter, sans-serif;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px;
                                }
                            }
                        }
                    }

                }
            }
        }
    }

    .our-team {
        display: flex;
        width: 100%;
        padding: 50px 0;
        flex-direction: column;
        align-items: flex-end;
        gap: 50px;
        border-top: 1px solid #252525;
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            display: flex;
            width: 100%;
            padding: 30px 0 50px 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: flex;
            width: 100%;
            padding: 30px 0 50px 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }

        .our-team-title {
            display: flex;
            width: 100%;
            padding: 0 70px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            @media screen and (min-width: 768px) and (max-width: 1200px) {
                display: flex;
                width: 991px;
                padding: 0 30px;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
            @media screen and (min-width: 320px) and (max-width: 767px) {
                width: 100%;
                padding: 0 20px;
                align-self: stretch;
            }

            .our-team-title-text {
                @include title-text;
                @media screen and (min-width: 768px) and (max-width: 1200px) {
                    font-size: 150px;
                }
                @media screen and (min-width: 320px) and (max-width: 767px) {
                    font-size: 80px;
                }
            }
        }

        .our-team-content {
            display: flex;
            width: 100%;
            padding: 0 70px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 30px;
            @media screen and (min-width: 768px) and (max-width: 1200px) {
                display: flex;
                width: 100%;
                padding: 0 30px;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
            }
            @media screen and (min-width: 320px) and (max-width: 767px) {
                display: flex;
                width: 100%;
                flex-direction: column;
                padding: 0 20px;
                align-items: flex-start;
                align-self: stretch;
            }

            .grid-box {
                display: grid;
                width: 100%;
                grid-template-columns: 500px 500px 500px 500px;
                grid-template-rows: 700px 700px;
                @media screen and (min-width: 768px) and (max-width: 1200px) {
                    width: 100%;
                    grid-template-columns: 500px 500px;
                    grid-template-rows: 650px 650px 700px;
                    align-self: stretch;
                }
                @media screen and (min-width: 320px) and (max-width: 767px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: auto;
                }

                .Tyra-Dhillon-item {
                    @include card-style;

                    .box-content {
                        @include card-content-box;


                        .name {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 5px;
                            align-self: stretch;

                            .name-large-text {
                                @include name-large-text;
                            }

                            .name-small-text {
                                @include name-small-text;
                            }
                        }

                        .card-socials-link {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            gap: 10px;
                        }
                    }
                }

                .Brittni-Lando-item {
                    @include card-style;
                    @media screen and (min-width: 768px) and (max-width: 1200px) {

                    }

                    .box-content {
                        @include card-content-box;

                        .name {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 5px;
                            align-self: stretch;

                            .name-large-text {
                                @include name-large-text;
                            }

                            .name-small-text {
                                @include name-small-text;
                            }
                        }

                        .card-socials-link {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            gap: 10px;
                        }
                    }
                }

                .Darcel-Ballentine-item {
                    @include card-style;

                    .box-content {
                        @include card-content-box;

                        .name {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 5px;
                            align-self: stretch;

                            .name-large-text {
                                @include name-large-text;
                            }

                            .name-small-text {
                                @include name-small-text;
                            }
                        }

                        .card-socials-link {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            gap: 10px;
                        }
                    }
                }


                .Roselle-Ehrman-item {
                    @include card-style;

                    .box-content {
                        @include card-content-box;

                        .name {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 5px;
                            align-self: stretch;

                            .name-large-text {
                                @include name-large-text;
                            }

                            .name-small-text {
                                @include name-small-text;
                            }
                        }

                        .card-socials-link {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            gap: 10px;
                        }
                    }
                }

                .Brittni-Lando-item {
                    @include card-style;
                    @media screen and (min-width: 768px) and (max-width: 1200px) {
                    }

                    .box-content {
                        @include card-content-box;

                        .name {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 5px;
                            align-self: stretch;

                            .name-large-text {
                                @include name-large-text;
                            }

                            .name-small-text {
                                @include name-small-text;
                            }
                        }

                        .card-socials-link {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            gap: 10px;
                        }
                    }
                }

                .Roselle-Ehrman-item {
                    @include card-style;

                    .box-content {
                        @include card-content-box;

                        .name {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 5px;
                            align-self: stretch;

                            .name-large-text {
                                @include name-large-text;
                            }

                            .name-small-text {
                                @include name-small-text;
                            }
                        }

                        .card-socials-link {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            gap: 10px;
                        }
                    }
                }

                .Jane-Cooper-item {
                    @include card-style;


                    .box-content {
                        @include card-content-box;

                        .name {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 5px;
                            align-self: stretch;

                            .name-large-text {
                                @include name-large-text;
                            }

                            .name-small-text {
                                @include name-small-text;
                            }
                        }

                        .card-socials-link {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            gap: 10px;
                        }
                    }
                }

                .Robert-Fox-item {
                    @include card-style;

                    .box-content {
                        @include card-content-box;

                        .name {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 5px;
                            align-self: stretch;

                            .name-large-text {
                                @include name-large-text;
                            }

                            .name-small-text {
                                @include name-small-text;
                            }
                        }

                        .card-socials-link {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            gap: 10px;
                        }
                    }
                }

                .box-join-the-team {
                    display: flex;
                    width: 100%;
                    padding: 30px 0;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-shrink: 0;
                    align-self: stretch;
                    @media screen and (min-width: 768px) and (max-width: 1200px) {
                        width: 100%;

                    }
                    @media screen and (min-width: 320px) and (max-width: 767px) {
                        width: 100%;
                    }

                    .content-join {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        gap: 15px;
                        flex: 1 0 0;
                        align-self: stretch;
                        @media screen and (min-width: 768px) and (max-width: 1200px) {
                            width: 100%;

                        }
                        @media screen and (min-width: 320px) and (max-width: 767px) {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 15px;
                            align-self: stretch;
                        }

                        .join-small-text {
                            color: #333;
                            font-family: Gilroy-Regular, sans-serif;
                            font-size: 30px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-transform: uppercase;
                            align-self: stretch;
                            @media screen and (min-width: 320px) and (max-width: 767px) {
                                text-align: center;
                            }
                        }

                        .join-large-text {
                            color: #333;
                            font-family: Gilroy-Bold, sans-serif;
                            font-size: 60px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-transform: uppercase;
                            align-self: stretch;
                            @media screen and (min-width: 320px) and (max-width: 767px) {
                                text-align: center;
                                font-size: 40px;

                            }
                        }

                        .black-button {
                            display: flex;
                            padding: 10px 30px;
                            justify-content: flex-end;
                            align-items: center;
                            gap: 10px;
                            color: #FFFFFF;
                            border-radius: 50px;
                            background: #252525;
                            border: none;
                            @media screen and (min-width: 320px) and (max-width: 767px) {
                                display: flex;
                                padding: 10px 30px;
                                justify-content: center;
                                align-items: center;
                                gap: 10px;
                                align-self: stretch;
                            }
                        }

                    }

                }
            }
        }
    }

    .contact {
        display: flex;
        width: 100%;
        padding: 50px 0 100px 0;
        flex-direction: column;
        align-items: flex-end;
        gap: 50px;
        border-top: 1px solid #252525;
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            width: 100%;
            padding: 30px 0 50px 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 50px;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 100%;
            padding: 30px 0 50px 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 50px;
        }

        .contact-content {
            display: flex;
            width: 100%;
            padding: 50px 70px 0 70px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 30px;
            @media screen and (min-width: 768px) and (max-width: 1200px) {
                display: flex;
                width: 100%;
                padding: 0 30px;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
            }
            @media screen and (min-width: 320px) and (max-width: 767px) {
                width: 100%;
                padding: 0 20px;
                flex-direction: column;
                align-items: flex-start;
                align-self: stretch;
            }

            .contact-row {
                display: flex;
                width: 100%;
                align-items: flex-start;
                gap: 70px;
                @media screen and (min-width: 768px) and (max-width: 1200px) {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 40px;
                }
                @media screen and (min-width: 320px) and (max-width: 767px) {
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 30px;
                    align-self: stretch;
                }

                .contact-text {
                    color: #333;
                    font-family: Gilroy, sans-serif;
                    font-size: 155px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    text-transform: uppercase;
                    align-self: stretch;
                    @media screen and (min-width: 768px) and (max-width: 1200px) {
                        font-size: 120px;
                    }
                    @media screen and (min-width: 320px) and (max-width: 767px) {
                        font-size: 70px;
                        text-align: center;
                    }
                }

                .contact-right-box {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 30px;
                    align-self: stretch;
                    @media screen and (min-width: 768px) and (max-width: 1200px) {
                        display: flex;
                        width: 100%;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 50px;
                    }
                    @media screen and (min-width: 320px) and (max-width: 767px) {
                        width: 100%;
                        flex-direction: column;
                        align-items: center;
                        gap: 30px;
                        align-self: stretch;
                    }

                    .right-box-large-text {
                        color: #252525;
                        font-family: Gilroy-Bold, sans-serif;
                        font-size: 64px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-transform: uppercase;
                        align-self: stretch;
                        @media screen and (min-width: 768px) and (max-width: 1200px) {
                            text-align: center;
                            font-size: 60px;
                        }
                        @media screen and (min-width: 320px) and (max-width: 767px) {
                            font-size: 50px;
                            text-align: center;
                        }
                    }

                    .right-box-small-text {
                        width: 850px;
                        color: #252525;
                        font-family: Gilroy-Medium, sans-serif;
                        font-size: 34px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        align-self: stretch;
                        @media screen and (min-width: 768px) and (max-width: 1200px) {
                            width: 100%;
                            text-align: center;
                            font-size: 30px;
                        }
                        @media screen and (min-width: 320px) and (max-width: 767px) {
                            width: 100%;
                            font-size: 30px;
                            text-align: center;
                        }
                    }

                    .black-button {
                        display: flex;
                        padding: 10px 30px;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 10px;
                        color: #FFFFFF;
                        border-radius: 50px;
                        background: #252525;
                        border: none;
                        @media screen and (min-width: 320px) and (max-width: 767px) {
                            display: flex;
                            padding: 10px 30px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            align-self: stretch;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    border-top: 1px solid #252525;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        display: flex;
        padding: 20px 0;
        align-items: flex-start;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 100%;
        padding: 20px 0;
        align-items: flex-start;
    }

    .footer-content {
        display: flex;
        width: 100%;
        height: 80px;
        padding: 0 70px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            display: flex;
            width: 100%;
            height: 80px;
            padding: 0 30px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 100%;
            height: 80px;
            padding: 0 30px;
            align-items: flex-start;
            flex: 1 0 0;
        }

        .footer-row {
            display: flex;
            width: 100%;
            align-items: flex-start;
            gap: 40px;
            @media screen and (min-width: 768px) and (max-width: 1200px) {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
            }
            @media screen and (min-width: 320px) and (max-width: 767px) {
                width: 100%;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                align-self: stretch;
            }


            .copyright {
                width: 90%;
                color: #333;
                font-family: Gilroy-Regular, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                align-self: stretch;
                @media screen and (min-width: 768px) and (max-width: 1200px) {
                    width: 80%;
                }
                @media screen and (min-width: 320px) and (max-width: 767px) {
                    font-size: 14px;
                    text-align: center;
                }

                .mod-copyright {
                    color: #333;
                    font-family: Gilroy-SemiBold, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    @media screen and (min-width: 320px) and (max-width: 767px) {
                        font-size: 14px;
                    }
                }

                .card-socials-link {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 10px;
                }

            }
        }
    }
}





