@mixin white-button-style{
    display: flex;
    height: 70px;
    padding: 15px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
    border: none;
}
@mixin what-i-do-list-style{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
@mixin list-large-text-style{
    color: #000;
    font-family: Gilroy-Light,sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
}
@mixin list-small-text-style{
    color: #000;
    font-family: Inter,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    align-self: stretch;
}
@mixin block-empty{
    display: flex;
    width: 567px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;
    align-self: stretch;
}
@mixin title-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}
@mixin title-text{
    color: #252525;
    text-align: center;
    font-family: Gilroy, sans-serif;
    font-size: 200px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 8.48px;
    text-transform: uppercase;
}
@mixin client-box{
    display: flex;
    width: 567px;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
    align-self: stretch;
}
@mixin client-title-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}
@mixin client-title-large-text{
    color: #333;
    font-family: Gilroy,sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 44px;
    align-self: stretch;
}
@mixin client-title-small-text{
    color: #000;
    font-family: Inter,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    align-self: stretch;
}
@mixin review-client-box{
    display: flex;
    align-items: center;
    gap: 20px;
}
@mixin review-content-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
@mixin card-style{
    display: flex;
    width: 415px;
    padding: 30px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
    align-self: stretch;
}
@mixin card-content-box{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
    align-self: stretch;
}
@mixin name-large-text{
    color: #333;
    font-family: Gilroy,sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    align-self: stretch;
}
@mixin name-small-text{
    color: #333;
    font-family: Gilroy-Medium,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}
