/*General-setting*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("Фон 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1366px;
    height: 770px;
    flex-shrink: 0;
}

ul {
    list-style: none;
}

.nav-blackout {
    width: 100%;
    height: 64px;
    flex-shrink: 0;
    display: flex;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    justify-items: flex-end;
}

.conteiner {
    display: flex;
    justify-content: center;
}

.main-registr {
    margin-top: 112px;
    width: 444px;
    height: 584px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
}



