/*Item-setting*/
.nav-logo a:hover {
    color: green;
}

.nav-logo a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin-left: 60px;
}

.nav-logo {
    margin-top: 20px;
}

.nav-list-icon {
    display: flex;
    justify-content: space-between;
    width: 126px;
    height: 24px;
    flex-shrink: 0;
    margin-top: 14px;
    margin-left: 770px;
}

.nav-item-calendar:hover {
    color: green;
}

.nav-item-post:hover {
    color: green;
}

.nav-item-compas:hover {
    color: green;
}

.nav-line {
    width: 1px;
    height: 19px;
    flex-shrink: 0;
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.90);
    margin-left: 920px;
    margin-top: -20px;
}

.nav-log-in {
    display: flex;
    width: 108px;
    height: 22px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-top: 22px;
    margin-left: 20px;
    justify-content: space-around;
}

.nav-log-in a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-log-in a:hover {
    color: green;
}

.nav-sign-up {
    display: flex;
    width: 120px;
    height: 28px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-top: 22px;
    padding-left: 4px;
}

.nav-sign-up-indent {
    margin-left: 6px;
}

.nav-sign-up a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-sign-up a:hover {
    color: green;
}

.main-square {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    background: #3CB878;
    margin-top: 29px;
}

.main-sign-up {
    width: 69px;
    height: 14px;
    flex-shrink: 0;
    color: #434343;
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 61px;
}

.main-log-in {
    margin-left: 336px;
    margin-top: -12px;
}

.main-log-in a {
    text-decoration: none;
    flex-shrink: 0;
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.main-log-in a:hover {
    border-bottom: 1px solid #3CB878
}

.main-facebook {
    position: absolute;
    width: 160px;
    height: 48px;
    flex-shrink: 0;
    background: #305DB8;
    border: none;
    border-radius: 7px;
    margin-top: 20px;
    margin-left: 50px;
    fill: #305DB8;
}

.main-facebook-svg {
    margin-right: 110px;
    margin-top: -6px;
}

.main-facebook-line {
    width: 1px;
    height: 28px;
    flex-shrink: 0;
    background: #0A162F;
    opacity: 0.1;
    margin-top: -29px;
    margin-left: 47px;
}

.main-facebook-text {
    display: flex;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-left: 70px;
    margin-top: -21px;

}

.main-google {
    position: absolute;
    margin-top: 20px;
    margin-left: 220px;
    width: 160px;
    height: 48px;
    flex-shrink: 0;
    background: #DF4A32;
    border: none;
    border-radius: 7px;
    fill: #DF4A32;
}

.main-google-svg {
    margin-right: 110px;
    margin-top: -6px;
}

.main-google-line {
    width: 1px;
    height: 28px;
    flex-shrink: 0;
    opacity: 0.1;
    background: #2B0D09;
    margin-top: -28px;
    margin-left: 47px;
}

.main-google-text {
    display: flex;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-left: 70px;
    margin-top: -21px;
}

.main-or-line {
    display: flex;
    width: 322px;
    height: 18px;
    flex-shrink: 0;
    margin-top: 100px;
    margin-left: 57px;
}

.main-line-first {
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    margin-top: 1px;

}

.main-or {
    display: flex;
    color: #848484;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    width: 15px;
    height: 14px;
    flex-shrink: 0;
    margin-top: -5px;
    margin-left: 3px;
}

.main-line-second {
    width: 152px;
    height: 1px;
    flex-shrink: 0;
    background: #F2F2F2;
    margin-top: 1px;
}

.form-item-name {
    width: 322px;
    height: 44px;
    flex-shrink: 0;
    border: none;
    border-radius: 4px;
    fill: #FFF;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    margin-left: 57px;
    padding-left: 19px;
}

.form-item-surname {
    width: 322px;
    height: 44px;
    flex-shrink: 0;
    border: none;
    border-radius: 4px;
    fill: #FFF;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    margin-left: 57px;
    padding-left: 19px;
    margin-top: 15px;
}

.form-item-email {
    width: 322px;
    height: 44px;
    flex-shrink: 0;
    border: none;
    border-radius: 4px;
    fill: #FFF;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    margin-left: 57px;
    padding-left: 19px;
    margin-top: 15px;
}

.form-item-chose-password {
    width: 322px;
    height: 44px;
    flex-shrink: 0;
    border: none;
    border-radius: 4px;
    fill: #FFF;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    margin-left: 57px;
    padding-left: 19px;
    margin-top: 15px;
}

.form-item-confirm {
    width: 322px;
    height: 44px;
    flex-shrink: 0;
    border: none;
    border-radius: 4px;
    fill: #FFF;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    margin-left: 57px;
    padding-left: 19px;
    margin-top: 15px;
}

.form-checkbox{
    width: 14px;
    height: 13px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #3CB878;
    margin-left: 57px;
    margin-top: 17px;
}

.main-under-text{
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-left: 90px;
    margin-top: -13px;
}

.main-under-text span{
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.main-under-button{
    display: flex;
    width: 324px;
    height: 46px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    flex-shrink: 0;
    justify-content: center;
    margin-top: 20px;
    margin-left: 57px;
    padding-top: 14px;
    border-radius: 4px;
    border: none;
    background: rgba(60, 184, 120, 0.80);
}






