 /*General setting*/
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .top-nav{
     width: 1440px;
     height: 80px;
 }

 .page-header{
     width: 1440px;
     height: 223px;
 }

 .filters {
     width: 1280px;
     height: 64px;
     gap: 417px;
     flex-shrink: 0;
 }

 .container{
     width: 1440px;
     height: 510px;
 }

 .emeil-sign-up{
     width: 1440px;
     height: 521px;
 }


