  /*Setting items*/
  ul {
      list-style: none;
  }

  a{
      text-decoration: none;
  }

.spc-head-word{
    display: flex;
    color: #22202E;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 80px;
}

.top-nav-list{
    display: flex;
    justify-content: center;
    margin-top: -60px;
    margin-right: 70px;
    color: #726E8D;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.top-item1{
    margin-right: 40px;
}

.top-item2{
    margin-right: 40px;
}

.top-item3{
    margin-right: 40px;
}

.top-item4{
    margin-right: 40px;
}

.top-item5{
    margin-right: 40px;
}

.top-item6{
    margin-right: 40px;
}

.top-item7{margin-right: 40px;
}

  .side-action{
      display: flex;
      justify-content:end ;
      gap: 16px;
      margin-right: 80px;
      margin-top: -34px;
  }

  .basic-text-head{
      color: #2A254B;
      font-family: Montserrat;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      text-align: center;
      margin-top: 100px;
  }

.filters{
margin-left: 80px;
}

.basic-config-filters{
    display: inline-flex;
    margin-left: 24px;
}

.config-filters-item1{
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

  .config-filters-item2{
      color: #2A254B;
      font-family: "Open Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      margin-left: 40px;
      line-height: 150%;
  }

  .config-filters-item3{
      color: #2A254B;
      font-family: "Open Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-left: 40px;
  }

  .config-filters-item4{
      color: #2A254B;
      font-family: "Open Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-left: 40px;
  }

.config-filters-item5{
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-left: 441px;
    margin-top: 4px;
}

.config-filters-item6{
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-left: 18px;
    margin-top: 2px;
}

 .listnings{
     display: grid;
     margin-top: 30px;
     grid-template-rows: 100px 100px 100px 100px;
     grid-template-columns: 307px 307px 307px 307px;
    justify-content: center;
     justify-content: space-between;
     column-gap: 20px;


  }

 .detalis1{
     color: #2A254B;
     font-family: Montserrat;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: 140%;
     margin-top: 24px;
 }
 .price-detalis1{
     color: #2A254B;
     font-family: "Open Sans";
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 150%;
 }

 .detalis2{
     color: #2A254B;
     font-family: Montserrat;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: 140%;
     margin-top: 24px;
 }
 .price-detalis2{
     color: #2A254B;
     font-family: "Open Sans";
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 150%;
 }

 .detalis3{
     color: #2A254B;
     font-family: Montserrat;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: 140%;
     margin-top: 24px;
 }
 .price-detalis3{
     color: #2A254B;
     font-family: "Open Sans";
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 150%;
 }

 .detalis4{
     color: #2A254B;
     font-family: Montserrat;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: 140%;
     margin-top: 24px;
 }
 .price-detalis4{
     color: #2A254B;
     font-family: "Open Sans";
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 150%;
 }
.listnings2{
    display: grid;
    margin-top: 76px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 307px 307px 307px 307px;
    justify-content: center;
    justify-content: space-between;
    column-gap: 20px;

}

.listnings3{
    display: grid;
    margin-top: 76px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 307px 307px 307px 307px;
    justify-content: center;
    justify-content: space-between;
    column-gap: 20px;
}

.medium-button{
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    background:  #F9F9F9;
    display: inline-flex;
    padding: 16px 32px;
    margin-top: 120px;
    margin-left: 540px;
    gap: 10px;
}

.emeil-photo{
    width: 720px;
    height: 521px;
    flex-shrink: 0;
    margin-top: 40px;
}

.foote-text1{
    width: 500px;
    height: 39px;
    color: #2A254B;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -430px;
    margin-left: 800px;
}

.foote-text2{
    width: 480px;
    height: 20px;
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-left: 800px;
    margin-top: 20px;
}

.footer-button{
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    background-color: #2A254B;
    margin-top: 280px;
    margin-left: 810px;
    color: white;
}

  .under-footer{
      width: 1440px;
      height: 380px;
      background:#2A254B;
      margin-top: 16px;
  }

  .under-footer{
      display:flex;
  }

  .foter-item1{
      color:#FFFFFF;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }

  .footer-item2{
      color: #FFF;
      font-family: "Open Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }

  .footer-item3_{
      color: #FFF;
      font-family: "Open Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }

.footer-item4{
    color:#FFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-item5{
    color:#FFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-item6{
    color:#FFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.config-footer-items1{
    padding-top: 48px;
}
.config-footer-items2{
    padding-top: 12px;
}
.config-footer-items3{
    padding-top: 12px;
}
.config-footer-items4{
    padding-top: 12px;
}
.config-footer-items5{
    padding-top: 12px;
}
.config-footer-items6{
    padding-top: 12px;
}

.footer-list2{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-left: 100px;
    margin-top: 60px;
}
.footer-item7{
    color:#FFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-list3{
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 60px;
    margin-left: 131px;
}

  .footer-img{
        width: 642px;
        height: 195px;
    margin-top: 50px;
      margin-left: 150px;
}

  .footer-line{
      width: 1200px;
      height: 1px;
      background-color: #4E4D93;
      position: absolute;
      margin-left: 100px;
      margin-top: -100px;
  }

.copyrigth{
    color: #FFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-top: 336px;
    margin-left:25px ;
}

.footer-nav-img{
    display: flex;
    gap: 24px;
    position: absolute;
    margin-left: 1200px;
    margin-top: 350px;
}

.config-footer-nav-img1{
    background-color: #2A254B;
}