 /*Items setting*/
.heading1{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.heading2{
    color: #4BCAFF;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.config-hover-1{
    color: #F60D0D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-left: 646px;
    margin-top: -24px;
}
.config-hover-2{
    color: #F60D0D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding-left: 170px;
    margin-top: -21px;
    appearance: none;
}
.config-hover-3{
    color: #F60D0D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding-left: 156px;
    margin-top: -90px;
}

.config-item1 {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 140px;
    padding-top: 24px;
    display: inline-block;
}
.config-item2{
    color: #FFF;
    display: flex;
    width: 77px;
    height: 27px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    font-family: Roboto;
    font-size:18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 47px;
    padding-right: 70px;

}
.config-item3{
    display: flex;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 23px;
}
.config-item4{
    display: flex;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 23px;
    padding-right: 40px;
}

.item-menu1{
    display: flex;
    color: #485863;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    padding-left: 30px;
    padding-top: 15px;
}
.item-menu1{
    display: flex;
    color: #485863;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    padding-left: 55px;
    padding-top: 25px;
}
.special-item-left-menu{
    display: inline-block;
    background: #DBDBDB;
    width: 342px;
    height: 81px;
    flex-shrink: 0;
    padding-top: 27px;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 28px;
    padding-left: 100px;
}
.item-menu3{
    display: flex;
    width: 350px;
    height: 27px;
    flex-direction: column;
    flex-shrink: 0;
    color: #495863;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    padding-top: 35px;
    padding-left: 60px;
}
.item-menu4{
    display: flex;
    width: 220px;
    height: 27px;
    flex-direction: column;
    flex-shrink: 0;
    color: #495863;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    padding-top: 80px;
    padding-left: 60px;
}
.item-menu5{
    display: flex;
    width: 153px;
    height: 27px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #495863;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    padding-top: 85px;
    padding-left: 60px;
}
.photo{
 display: flex;
    width: 320px;
    height: 381px;
    flex-shrink: 0;
    margin-top: -100px;
}
.text1{
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.text2{
    width: 885px;
    height: 109px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 13px;
}

.config-foot-item{
    flex: content;
    padding-left: 40px;
    padding-top: 20px;
    color: #000000;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    }
.foot-item1{
    margin-right: 20px;
}
.foot-spc-item {
    flex: content;
    color: #3181A6;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    margin-right: 20px;
}
.foot-item2{
    margin-right: 20px;
}
.foot-item3{
    margin-right: 20px;
}

.foot-item4{
margin-right: 20px;
}
.mark{
    display: flex;
    font-style: normal;
   margin-left: 950px;
    margin-top: -26px;
    color: black;
}


